* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
}

@font-face {
    font-family: Outfit;
    src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}
@font-face {
    font-family: YoungSerif;
    src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

:root {
    --body-bg: #F3E5D7;
    --content-bg: white;
    --preparation-bg: #FFF7FB;
    --color-bg: #E3DDD7;
    --color-h1: #312E2C;
    --color-h2: #854632;
    --color-h3: #7A284E;
    --color-emphase: #5F564D;
    --color-body: #5F564D;
    --color-list: #7A284E;
    --color-nutrition: #7A284E;
    --color-separator: #E3DDD7;

    --font-h1: YoungSerif, serif;
    --font-h2: YoungSerif, serif;
    --font-h3: Outfit, sans-serif;
    --font-body: Outfit, sans-serif;
}

/* DESKTOP VERSION */

body {
    background: var(--body-bg);
    width: 100%;
    height: auto;
    padding: 6% 22% 6% 22%;
}

#body-bg {
    background: var(--content-bg);
    border-radius: 12px;
}

#page-padding {
    padding: 0px 32px;
}
#banner-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
    padding: 32px 32px 0px 32px;
}
h1 {
    font-size: 2.5rem;
    color: var(--color-h1);
    margin: 40px 0px;
    font-family: var(--font-h1);
}
p {
    color: var(--color-body);
    font-family: var(--font-body);
    margin-bottom: 32px;
}
.prep-time {
    background-color: var(--preparation-bg);
    height: auto;
    padding: 24px;
    border-radius: 12px;
    margin-bottom: 32px;
}
h3 {
    color: var(--color-h3);
    font-family: var(--font-h3);
    font-size: 1.25rem;
    margin-bottom: 16px;
}
ul {
    list-style-type: square;
    padding-left: 24px;
}
ul li::marker {
    color: var(--color-list);
}
li {
    color: var(--color-body);
    padding-left: 16px;
    font-family: var(--font-body);
    padding-bottom: 8px;
}
h2 {
    font-family: var(--font-h2);
    color: var(--color-h2);
    margin-bottom: 24px;
    font-size: 1.75rem;
}
.ingredients {
    padding-bottom: 32px;
    margin-bottom: 32px;
    border-bottom: 1px #E3DDD7 solid;
}
.instructions {
    padding-bottom: 32px;
    margin-bottom: 32px;
    border-bottom: 1px #E3DDD7 solid;
}
ol {
    list-style-type: decimal;
    padding-left: 24px;
}
ol li::marker {
    color: var(--color-list);
    font-weight: bold;
}
.nutrition {
    margin-bottom: 32px;
}
#nutrition-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(4, 1fr);
    height: auto;
}
#calories {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding-left: 32px;
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 1px #E3DDD7 solid;
}
#calories-number {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    color: var(--color-nutrition);
    font-weight: bold;
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 1px #E3DDD7 solid;
}
#carbs {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding-left: 32px;
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 1px #E3DDD7 solid;
}
#carbs-number {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    color: var(--color-nutrition);
    font-weight: bold;
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 1px #E3DDD7 solid;
}
#protein {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    padding-left: 32px;
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 1px #E3DDD7 solid;
}
#protein-number {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    color: var(--color-nutrition);
    font-weight: bold;
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 1px #E3DDD7 solid;
}
#fat {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    padding-left: 32px;
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 1px #E3DDD7 solid;
    width: 100%;
}
#fat-number {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    color: var(--color-nutrition);
    font-weight: bold;
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 1px #E3DDD7 solid;
}

/* MOBILE VERSION */

@media only screen and (max-width: 425px) {
    body {
        background: var(--body-bg);
        width: 100%;
        height: auto;
        padding: 0% 0% 0% 0%;
    }
    #page-padding {
        padding: 0px 32px;
    }
    #banner-img {
        width: 100%;
        height: auto;
        object-fit: cover;
        overflow: hidden;
        padding: 0px 0px 0px 0px;
        border-radius: 0px;
        margin-left: 0px;
        margin-top: 0px;
    }
    h1 {
        font-size: 2.25rem;
        color: var(--color-h1);
        margin: 24px 0px;
        font-family: var(--font-h1);
    }
    p {
        color: var(--color-body);
        font-family: var(--font-body);
        margin-bottom: 32px;
    }
    .prep-time {
        background-color: var(--preparation-bg);
        height: auto;
        padding: 24px;
        border-radius: 12px;
        margin-bottom: 32px;
    }
    h3 {
        color: var(--color-h3);
        font-family: var(--font-h3);
        font-size: 1.25rem;
        margin-bottom: 16px;
    }
    ul {
        list-style-type: square;
        padding-left: 24px;
    }
    ul li::marker {
        color: var(--color-list);
    }
    li {
        color: var(--color-body);
        padding-left: 16px;
        font-family: var(--font-body);
        padding-bottom: 8px;
    }
    h2 {
        font-family: var(--font-h2);
        color: var(--color-h2);
        margin-bottom: 24px;
        font-size: 28px;
    }
    .ingredients {
        padding-bottom: 32px;
        margin-bottom: 32px;
        border-bottom: 1px #E3DDD7 solid;
    }
    .instructions {
        padding-bottom: 32px;
        margin-bottom: 32px;
        border-bottom: 1px #E3DDD7 solid;
    }
    ol {
        list-style-type: decimal;
        padding-left: 24px;
    }
    ol li::marker {
        color: var(--color-list);
        font-weight: bold;
    }
    .nutrition {
        margin-bottom: 32px;
    }
    #nutrition-grid {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(4, 1fr);
        height: auto;
    }
    #calories {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        padding-left: 32px;
        padding-bottom: 12px;
        margin-bottom: 12px;
        border-bottom: 1px #E3DDD7 solid;
    }
    #calories-number {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        color: var(--color-nutrition);
        font-weight: bold;
        padding-bottom: 12px;
        margin-bottom: 12px;
        border-bottom: 1px #E3DDD7 solid;
    }
    #carbs {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        padding-left: 32px;
        padding-bottom: 12px;
        margin-bottom: 12px;
        border-bottom: 1px #E3DDD7 solid;
    }
    #carbs-number {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        color: var(--color-nutrition);
        font-weight: bold;
        padding-bottom: 12px;
        margin-bottom: 12px;
        border-bottom: 1px #E3DDD7 solid;
    }
    #protein {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        padding-left: 32px;
        padding-bottom: 12px;
        margin-bottom: 12px;
        border-bottom: 1px #E3DDD7 solid;
    }
    #protein-number {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        color: var(--color-nutrition);
        font-weight: bold;
        padding-bottom: 12px;
        margin-bottom: 12px;
        border-bottom: 1px #E3DDD7 solid;
    }
    #fat {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
        padding-left: 32px;
        padding-bottom: 12px;
        margin-bottom: 12px;
        border-bottom: 1px #E3DDD7 solid;
        width: 100%;
    }
    #fat-number {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
        color: var(--color-nutrition);
        font-weight: bold;
        padding-bottom: 12px;
        margin-bottom: 12px;
        border-bottom: 1px #E3DDD7 solid;
    }
}

@media only screen and (max-width: 374px) {
    h1 {
        font-size: 1.9rem;
    }
    li {
        color: var(--color-body);
        padding-left: 8px;
        font-family: var(--font-body);
        padding-bottom: 8px;
    }
}